html {
    background-color: beige;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	text-align: center;
}

.jumbotron#header {
	color: white;
	margin-bottom: 0;
    padding: 10% 0% 0% 0%;
	background-image: url("https://hd.unsplash.com/photo-1467810563316-b5476525c0f9");
	background-size: 100% 100%;
}

#title {
    font-size: 50px;
    text-shadow: 1px 1px 5px #000;
}

#date {
    border: 3px white solid;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    font-size: 25px;
    padding-top: 5px;
}

#brand {
	float: right;
	padding-top: 80px;
	font-size: 25px;
    margin-bottom: 15px;
}

li {
    border-right: 1px;
    border-right-color: #000;
}

.card {
	margin: 15px 15px 15px 15px;
	border: .02px solid black;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

nav {
	padding-top: 0;
	border: medium solid black;
}
